{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    {% if person_tables %}
    <div class="container mt-0 pt-0">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="col-md-12 itemss m-2">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <img alt="Card image" class="card-img-top" src="{% static 'img/table.png' %}" style="width:100%">
                        </div>
                        <div class="col-sm col-md col-lg ">
                            <h4>{{ person_tables.name }}</h4>
                            <p>Booked time <b>{{ person_tables.time.time }}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-outline-danger">Save</button>
                    </form>
                </div>
            </div>
            <div class="a col-sm-4 col-md-4 col-lg-4 a">
                <div class="card" style="width:100%">
                    <img alt="Card image" class="card-img-top" src="{{ restaurant.restaurant_image.url }}" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">{{ restaurant.name }}</h4>
                    <p class="card-text">{{ restaurant.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>{% for message in messages %}{{ message }}{% endfor %}</h2>
            <p>To have a table you need to book it from restaurants, so if you want to book a table...</p>
            <a href="{% url 'home' %}">Go To Homepage</a>
        </div>
    </div>
    {% endif %}

{% endblock content %}